html {
  --hdr-gradient: linear-gradient(
    139deg in oklab,
    oklch(70% 0.50 182),
    oklch(84% 0.3 330)
  );
  --sdr-gradient: linear-gradient(139deg, #00e8b6, #ff69ff);

  background: var(--hdr-gradient);
  background-size: 100%;
  background-repeat: no-repeat;
  height:100vh;
}

body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:oklch(1% 0.31 241);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}