* {
  box-sizing: border-box;
}

html {
  --primary-color:oklch(70% 0.50 182);
  --secondary-color:oklch(84% 0.3 330);
  --default-color:oklch(1% 0.31 241);

  min-height:100%;
  --hdr-gradient: linear-gradient(
    139deg in oklab,
    var(--secondary-color),
    var(--primary-color)
  );

  --sdr-gradient: linear-gradient(139deg, #00e8b6, #ff69ff);

  background: var(--hdr-gradient);
  background-size: 100%;
  background-repeat: no-repeat;

  container-type: inline-size;
}

body {
  --spacing-small: .5rem;
  --spacing: 1.5rem;

  --_spacing:var(--spacing-small);

  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:oklch(1% 0.31 241);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100%;
  padding: 6rem 0;
  font-size: 1em;
  scroll-behavior: smooth;
  
  @container (min-width: 35em) {
    --_spacing:var(--spacing);
  }
}

h2 {
  font-size: 1.25em;
  font-weight: normal;
  margin: 0 0 1rem;
  text-wrap: balance;
}

h3, p  {
  margin:0;
}

h3 {
  font-weight: normal;
  font-size: 1.15em;
  margin-bottom: .5rem;
}

p::first-letter {
  text-transform: capitalize;
}

p {
  font-size: 0.8em;
}

img {
  border-radius: .5rem;
  max-width: 100%;
}

form {
  display:flex;
  flex-direction: column;
  padding:0;
  border:none;

  label {
    margin-bottom: .5rem;
    font-weight: bold;
  }

  input,
  select {
    font-size: inherit;
    font-family: inherit;
    color:inherit;
    border-width:1px;
    border-color:var(--default-color);
    border-radius:.5rem;
    margin:0 -.25rem 1rem;
    padding:0 .2rem;
    flex-grow:.8;
    line-height: 2;
    height:2rem;
  }


  select[multiple] {
    min-height:7rem;
  }

  small,
  em {
    font-size: .85rem;
    margin-bottom: 1rem;
  }

  footer {
    display:flex;justify-content: end;
    gap:.5rem;
  }

  button {
    padding-right:.5rem;
    align-self:end;

    span {
      padding-right: 0;
    }
  }

  button:nth-of-type(2) {
    --shadow-color:oklch(55.534% 0.09481 194.807);
    background-color: oklch(0.8 0.14 195.36);
  }
}

button {
  --shadow-size:2px;
  --shadow-color:oklch(73.351% 0.26585 327.856);
  background: var(--secondary-color);
  font-family: inherit;
  border-radius:.25rem;
  color:var(--default-color);
  display:flex;
  align-items: center;
  gap:.25rem;
  padding:.5rem;
  border-color:transparent;
  transition:.25s;
  box-shadow: var(--shadow-size) var(--shadow-size) 0 0px var(--shadow-color);

  &:focus-visible,
  &:hover {
    outline:none;
    translate: var(--shadow-size) var(--shadow-size);
    box-shadow: none;
  } 

  &:hover {
    cursor: pointer;
  }

  &.secondary {
    --shadow-color:oklch(55.534% 0.09481 194.807);
    background-color: oklch(0.8 0.14 195.36);
  }
}
aside {
  position: sticky;
  top: 7rem;
  align-self: start;
}

aside h2 {
  margin-bottom: 0;
}

details summary {
  list-style: none;
  position: relative;
  cursor: pointer;
}

details summary::before {
  content: " "; /* closed icon */
  background: url("/caret-down.svg") no-repeat center / contain;
  position: absolute;
  right: 0;
  top: -.25rem;
  height:1.5rem;
  width:1.5rem;
  transform-origin: 50% 50%;
  transition: transform .2s;
}

details[open] summary::before {
  transform: rotate(180deg); /* rotate when open */
}

details[open] table {
  animation: animateDown 0.2s linear forwards;
}

table {
  border: 1px solid;
  padding:.5rem;
  border-radius: .5rem;
  background-color: var(--secondary-color);
  width:100%;

  td {
    padding:.25rem 1.5rem;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

@keyframes fadeout {
  from {opacity: 1}
  to {opacity:0}
}

@keyframes animateDown {
  0% {
    opacity: 0;
    transform: translatey(35px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}
