* {
  box-sizing: border-box;
}

html {
  --primary-color:oklch(70% 0.50 182);
  --secondary-color:oklch(84% 0.3 330);
  --default-color:oklch(1% 0.31 241);

  min-height:100%;
  --hdr-gradient: linear-gradient(
    139deg in oklab,
    var(--secondary-color),
    var(--primary-color)
  );

  --sdr-gradient: linear-gradient(139deg, #00e8b6, #ff69ff);

  background: var(--hdr-gradient);
  background-size: 100%;
  background-repeat: no-repeat;

  container-type: inline-size;
}

body {
  --spacing-small: .5rem;
  --spacing: 1.5rem;

  --_spacing:var(--spacing-small);

  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:oklch(1% 0.31 241);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100%;
  padding: 6rem 0;
  
  @container (min-width: 35em) {
    --_spacing:var(--spacing);
    
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}